button{ 
    border: 0;
    border-radius: 12px;
    width: 100%;
    height: 32px;
    padding: 8px;
    background-color: rgb(14, 62, 217);
    color: white;
    vertical-align: middle;
    cursor:pointer;
}
svg{
    height:24px;
    width: 24px;        
}