form{
    background-color: white;
    padding: 3%;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
}
input{
    width: 95%;
    height: 24px;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    border-width:1px ;
    border-radius: 0.8rem;
    margin-top: 0.8rem;
    margin-bottom: 1.2rem;

}

body{
    margin: 5%;
    background-color:rgb(245, 243, 243);
}
label{
    text-align: left;
}
