form{
    background-color: white;
    padding: 3%;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
}
input{
    width: 95%;
    height: 40px;
    padding: 4 8 4 8;
    border-width:1px ;
    border-radius: 8px;
    margin:0px;
    margin-bottom: 12px;

}
 select{
    width: 95%;
    height: 40px;
    padding: 4 8 4 8;
    border-width:1px ;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 12px;

}

body{
    margin: 5%;
    background-color:rgb(245, 243, 243);
}
label{
    text-align: left;
}
