body{
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-size: 14;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    
}
h1{
    font-size: 32;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    padding: 4px;
}
h2{
    font-size: 24;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    padding: 4px;
}
h3{
    font-size: 18;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    padding: 4px;

}
h4{
    font-size: 14;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    padding: 4px;
}
h5{
    font-size: 12;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    padding: 4px;
}
label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14;
    font-weight: bold;
    width:100px;
}